ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #474A59;
}

li {
  float: left;
  cursor: pointer;
}

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

      li a:hover:not(.active) {
          background-color: #464646;
      }

      li a.active {
          color: white;
          background-color: black;
          font-weight: bold;
      }

li:last-child {
  float:right;
}
